@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'idroid';
    src: url(../fonts/idroid.otf) format(opentype);
    font-weight: normal;
    font-style: normal;
}

:root {
    /*Cores*/
    --cor-0: #ffffff;
    --cor-1: #8ffcc0;
    --cor-2: #207446;
    --cor-3: #1A5C38;
    --cor-4: #0d2c1b;
    --cor-5: #07180f;
    
    
    /*Fontes*/
    --font-principal: Arial, Helvetica, sans-serif;
    --font-destaque: "Bebas Neue", sans-serif;
    --font-android: idroid, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: auto;
    padding: 0px;
    max-width: 100%;
    min-width: 280px;
    background-color: var(--cor-1);
}

header {
    text-align: center;
    max-width: 100%;
    min-width: 280px;
    padding: 40px;
    background: linear-gradient(360deg, var(--cor-3) 10%, var(--cor-2) 35%, var(--cor-1) 100%);
}

header>h1 {
    padding: 10px 15px;
    margin: 10px 15px 10px;
    text-transform: uppercase;
    font: 900 4em var(--font-destaque);
    color: var(--cor-0);
    text-shadow: 1px 1px 3px var(--cor-5);
}

header>p {
    margin: auto;
    text-align: center;
    font: 800 20px var(--font-principal);
    color: white;
    max-width: 500px;
    min-width: 280px;
    text-shadow: 1px 1px 3px var(--cor-4);
}

nav {
    min-width: 320px;
    background-color: var(--cor-3);
    display: flex;
    margin: 0px 0px 0px 0px;
    box-shadow: 0px 4px 2px #00000080;
}

nav>a {
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    font: 600 18px var(--font-principal);
    color: white;
    text-shadow: 2px 2px 2px #00000080;
    transition-duration: .4s;
}

nav>a:hover {
    margin: 10px;
    padding: 10px;
    background-color: var(--cor-2);
    border-radius: 10px;
}

main {
    max-width: 800px;
    min-width: 320px;
    margin: auto auto 15px;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
}

main h1 {
    font: normal 35px var(--font-android);
    color: var(--cor-2);
    margin: 0px;
    padding: 8px 15px;
}

main h2 {
    font: normal 28px var(--font-android);
    color: var(--cor-2);
    margin: 5px;
    padding: 8px 8px;
    background: linear-gradient(to right, #46fa9767, transparent);
}

main h3 {
    background-color: var(--cor-3);
    padding: 20px 5px 15px;
    margin: -20px -5px 5px;
    text-indent: 10px;
    border-radius: 20px 20px 0px 0px;
    font: bold 20px var(--font-principal);
    color: white;
}

main p {
    text-indent: 20px;
    font: 400 1.1em var(--font-principal);
    padding: 30px 10px;
    text-align: justify;
    line-height: 2em;
}

main a, footer a {
    color: #29975b;
    text-decoration: none;
    font-weight: 600;
}

article {
    padding: 5px;
}

a.external::after {
    content: '🔗';
}

img{
    margin: auto;
    max-width: 100%;
}

img.small {
    display: flex;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

div.video{
    background-color: var(--cor-3);
    margin: 0px -5px 30px;
    padding: 20px;
    padding-bottom: 54.5%;
    position: relative;
}

div.video>iframe {
    position: absolute;
    top: 5%;
    left: 4%;
    width: 90%;
    height: 90%;
}

p>strong {
    font-style: none;
    font-weight:600;
    color: var(--cor-3);
}

aside {
    display: block;
    margin: 10px 20px 20px;
    background-color: var(--cor-1);
    padding: 20px 5px 15px;
    text-indent: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 3px #00000069;
}

aside ul {
    list-style-position: inside;
    columns: 2;
    padding-left: 40px;
    font: 400 18px var(--font-principal);
}

ul>li {
    list-style: none;
    margin-top: 10px;
    font-size: 18px;
}

li>a {
    color: black;
    text-decoration: none;
    font: 400 18px var(--font-principal);
}

a>abbr {
    text-decoration: none;
}

li::before {
    content: '✔️';
}

footer {
    background-color: var(--cor-5);
    color: white;
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
    font: 700 12px var(--font-principal);
}

footer a:hover {
    color: var(--cor-3);
    text-decoration: underline;
}